

/* Nonspecific elements*/

body {
    background-color: #111;
    color: white;
    height: 100%;
    width: 100%;
    font-family: 'Open Sans';

}

h1 {
    font-family: 'Open Sans';
    font-weight: 100;
    font-variant: small-caps
}

a {
    color: rgba(255,99,99,.5);
    font: 20px arial, sans-serif;
    font-style: italic;
    font-variant: small-caps;
    text-decoration: none;
}



a:hover {
    color: rgba(255,99,99,1);

}

/************************************Dynamic section**********************************/

#date-time {
    font-family: "Open Sans";
}

#date {

}



/**************************The link boxes**************************************/

.link-container {
    position: absolute;
    align-content: center;
    top: 50%;
    height: 50%;
    width: 100%;


}


.linkarea {

    padding: 2%;


}

.linkarea .inner{

    text-align: center;
    background-color: #222;
    height:100% ;


}




.links:hover, #settings-overlay {

    background-color: #222;
    box-shadow: 0px 0px 20px 5px rgba(255,99,99,1);

}

/*****************************Settings********************************************/

/**************************The Settings overlay panel*******************************/

#settings-overlay {
    visibility: hidden;
    z-index: 1000;
    display: block;
    position:fixed; top: 10%; left: 5%; right:5%; bottom: 10%;
    margin-left: auto;
    margin-right: auto;
    margin-top: auto;
    margin-bottom: auto;
    overflow: hidden;
    padding-bottom: 10%
}

#settings-overlay-bg {
    visibility: hidden;
    position: fixed;
    z-index:900;
    top: 0; left: 0; right: 0; bottom: 0;
    background: black;
    opacity: .5;
}

/*********************SETTINGS OVERLAY TOGGLE STYLES******************************/
#settings-btn {
    position: absolute;
    right: 1%;
    bottom: 1%;
    opacity: .75;
    width: 24px;
    height: 24px;
}

#settings-btn:hover {
    opacity: 1;
}



/**********************DROPDOWN STYLES*****************************************/
.dropdown-toggle, .dropdown-toggle:visited,.dropdown-menu,.dropdown-menu>li>a{
    background-color: #333333;
    color: white;
}

.dropdown-toggle:hover, .dropdown-menu>li>a:hover{
    background-color:#525252;
    color: white;
}

